$color_ok: #2ecc71;
$color_warning: #e74c3c;
$color_primary: #3498db;
$color_dark: #2c3e50;
$color_lightdark: #34495e;
$color_new: #f39c12;


* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: $color_lightdark;
}

.content {
    width: 1080px;
    margin: auto;
    position: relative;

    section {
        position: relative;
    }
}

.navbar {
    height: 48px;
    border-bottom-color: lightgray;
    border-bottom-width: 3px;
    border-bottom-style: solid;

    ul {
        font-size: 0;
    }

    ul, li {
        list-style: none;
        display: inline-block;
        height: 100%;

        .navbtn {
            height: 100%;
            min-width: 128px;
            display: inline-block;
            text-align: center;
            font-weight: 200;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                border-bottom-color: $color_lightdark;
                border-bottom-style: solid;
                border-bottom-width: 3px;
            }
        }
    }

    li {
        line-height: 48px;
        vertical-align: middle;
        font-size: 1rem;
    }

    .brand {
        a {
            text-decoration: none;
            font-weight: bold;
            height: 100%;
            display: inline-block;
            min-width: 128px;
            text-align: center;

            &:hover {
                border-bottom-color: $color_lightdark;
                border-bottom-style: solid;
                border-bottom-width: 3px;
            }
        }
    }
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
    background-color: black;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: 
    linear-gradient(
    rgba(255, 255, 255, 0.45), 
    rgba(0, 0, 0, 0.45)
    ),
    url("../image/half_life_1.jpg"),
    center,
    100%;

    span {
        section {
            width: 80%;
            margin: auto;
            p, h1, h2, h3, h4 {
                color: white !important;
            }

            h1, h2, h3, h4 {
                font-weight: bold;
            }

            p {
                font-weight: 200;
            }
        }
    }
}

.tilt-tab {
    width: 200px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    position: absolute;
    top: 24px;
    left: -60px;
    z-index: 10;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: $color_ok;
    -ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
    transform: rotate(-40deg);

    &:hover {
        cursor: pointer;
    }
}

.tilt-tab.new {
    background-color: $color_new;
}

.tilt-tab.updated {
    background-color: $color_primary;
}

.btn.default {
    min-width: 128px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: $color_primary;
        color: white;
    }
}

.bottom-right-corner {
    position: absolute;
    right: 0;
    bottom: 0.5rem;
    margin: 0 !important;
}

.horizontal-gallery {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: calc(300px + 0.5rem);

    article {
        position: relative;
        height: 256px;
        width: 256px;
        border-width: 1px;
        border-color: lightgray;
        border-style: solid;
        overflow: hidden;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            section {
                width: 60%;
                padding-top: 3rem;
                margin: auto;
                p, h1, h2, h3, h4 {
                    color: white !important;
                }

                h1, h2, h3, h4 {
                    font-weight: bold;
                }

                p {
                    font-weight: 200;
                }
            }
        }

        .btn.show {
            min-width: 64px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            color: $color_lightdark;
            background-color: lightgray;
            text-decoration: none;
            display: inline-block;
            margin-top: 0.5rem;

            &:hover {
                cursor: pointer;
                background-color: $color_primary;
                color: white;
            }
        }
    }
}

.decoration {
    font-weight: 200;
    font-size: 1rem;
}

.text {
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    p {
        font-weight: 200;
    }
}

.push-down {
    margin-top: 0.5rem;
}

.left {
    float: left;
}

.right {
    float: right;
}
